@model Comp229_301052117_Assign3.Models.Recipes

@{
    Layout = "_GeneralLayout1";
}

@if (Model != null)
{
    <div id="displayPageContainer" class="container">
        <div class="panel-heading text-center"><h2>@Model.DishName</h2></div>
        <img style="height:200px; width:300px;" src="~/photos/@Model.pictureName" id="foodImage" alt="Image of food" />
        <h4>Author</h4>
        <p>@Model.Author </p>
        <h6>Last Edit: @Model.time</h6>
        <h4>Ingredients</h4>
        <p>@Model.ingredients1</p>
        <p>@Model.ingredients2</p>
        <p>@Model.ingredients3</p>


        <h4>Description</h4>
        <p>@Model.Description</p>
        <h4>Category</h4>
        <p>@Model.Category</p>
        <h4>Servings</h4>
        <p>This recipe feeds @Model.Servings people</p>
        <h4>Review</h4>
        <p>@Model.review</p>

        <a asp-action="Order" asp-controller="Crud" class="btn btn-primary">
            Order
        </a>


    </div>
}


